<% title "Log in"%>

<h2><%=I18n.t("Log in")%></h2>
<div class="left" id="login-definitious">
<h3><%=I18n.t("Login with your Definitious account")%></h3>
<% form_tag session_path do -%>
<p><%= label_tag 'login', I18n.t("Username") %>
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag I18n.t("password") %>
<%= password_field_tag 'password', nil %></p>


<p><%= label_tag 'remember_me', I18n.t("Remember me") %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag I18n.t("Log in") %></p>

<% end -%>
</div>

<div class="right" id="login-facebook">
<h3><%=I18n.t("Or login with your Facebook account!")%></h3>
<%= fb_login_button('window.location = "/users/link_user_accounts";')%>
</div>