<h1>Log In</h1>
<div class="left" id="login-definitious">
<h2>Login with your Definitious account</h2>
<% form_tag session_path do -%>
<p><%= label_tag 'login', 'Username' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>


<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Log in' %></p>

<% end -%>
</div>

<div class="right" id="login-facebook">
<h2>Or login with your Facebook account!</h2>
<%= fb_login_button('window.location = "/users/link_user_accounts";')%>
</div>