<div class="definition-comment-form">
    <% form_remote_tag :url => add_comment_definition_path(definition), :class => 'comment-form' do %>
      <%= text_field 'comment', 'comment' %></br>
			<% if current_user %>
        <%= submit_tag I18n.t("Comment"), :class => "btn add-comment" %>
			<% else %>
				<%= button I18n.t("Comment"), new_user_path, "btn add-comment" %>
			<% end %>
			
      <%= hidden_field 'commentable', :value => 'Definition' %>
      <%= hidden_field 'id', :value => definition.id %>
    <% end %>
    <!-- <p><%# link_to 'Log in to comment.', login_path %></p> -->
</div>