<div class="definition-comment-form">
  <% if current_user and current_user.facebook_user? %>
    <fb:comments xid="142208365795137" numposts="5" width="500"></fb:comments>
  <% elsif current_user %>
    <% form_tag add_comment_definition_path(definition), :class => 'comment-form' do %>
      <%= text_field 'comment', 'comment' %></br>

      <%= submit_tag I18n.t("Add Comment") %>

      <%= hidden_field 'commentable', :value => 'Definition' %>
      <%= hidden_field 'id', :value => definition.id %>
    <% end %>
  <% else %>
    <p><%= link_to 'Log in to comment.', login_path %></p>
  <% end %>
</div>