<h2><%= I18n.t("User Leaderboard") %></h2>

<table id="leaderboard" class="users">
  <tr>
    <th><%= I18n.t("User") %></th>
    <th><%= I18n.t("Points") %></th>
  </tr>
  <% @users.each_with_index do |user, count| %>
  <tr>
    <td class="user">
      <%= (count + 1).to_s + "." %> <%= link_to user.username, user %>
    </td>
    <td class="points">
      <%= pluralize(user.points, "point") %>
    </td>
  </tr>
  <% end %>
</table>

<% content_for :sidebar do %>

  <div class="section">
    <h3>How points work:</h3>
    <p>for each</p>
    <table>
    <tr><td width="400">&nbsp&nbsp like received:<td width="20">+30</td></tr></tr>
    <tr><td>&nbsp&nbsp dislike received:<td>-15</td></tr>
    <tr><td>&nbsp&nbsp HFP vote received:<td>+10</td></tr>
    <tr><td>&nbsp&nbsp vote cast:<td>+1</td></tr>
    <tr><td>&nbsp&nbsp comment posted:<td>+1</td></tr>
    <tr><td>&nbsp&nbsp comment received:<td>+1</td></tr>
    <tr><td>bonuses</td></tr>
    <tr><td>&nbsp&nbsp definition with 5 likes<td>+100</td></tr>
    <tr><td>&nbsp&nbsp register with Facebook<td>+200</td></tr>
    </table><br>
    <p>HFP = helpful/funny/poetic</p>
  </div>
<% end %>