<h1><%=I18n.t("Sign up as a new user")%></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<div class="left" id="register-definitious">
  <h2>Create a new definitious account</h2>
<% form_for :user, :url => users_path do |f| -%>
<p><%= label_tag 'login', I18n.t("Username") %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag I18n.t("email") %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag I18n.t("password") %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', I18n.t("Confirm Password") %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag I18n.t("Sign up") %></p></div>
<% end -%>

<div class="right" id="register-facebook">
<h2><%=I18n.t("Or register with your Facebook account!")%></h2>
<%= fb_login_button('window.location = "/users/link_user_accounts";')%><br />
</div>
