<% title "Sign up"%>

<h2><%=I18n.t("Sign up as a new user")%></h2>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<div class="left" id="register-definitious">
  <h3>Create a new definitious account</h3>
<% form_for :user, :url => users_path do |f| -%>
<p><%= label_tag 'login', I18n.t("Username") %>
<%= f.text_field :login %></p>

<p><%= label_tag I18n.t("email") %>
<%= f.text_field :email %></p>

<p><%= label_tag I18n.t("password") %>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', I18n.t("Confirm Password") %>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag I18n.t("Sign up") %></p></div>
<% end -%>

<div class="right" id="register-facebook">
<h3><%=I18n.t("Or register with your Facebook account!")%></h3>
<%= fb_login_button('window.location = "/users/link_user_accounts";')%>
</div>
