<div id="user-search">
  <h1><%= @users.size %> users and counting...</h1>
  <% form_tag(finds_path, :method => 'get') do %>
    <%= text_field_tag(:user, I18n.t("Search for a user..."), :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", 'id' => 'user_autocomplete') %>
  <% end %>
</div>

<h1>Profile for <%= link_to @user.username, @user %></h1>
<h2 class="word"><%= pluralize(@user.points, "point") %></h2>

  <% if current_user and @user.id == current_user.id %>
    <% if current_user.facebook_user? %>
      <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" size="large" ></fb:profile-pic>
      <p><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></p>
    <% end %>
  <% else %>
  <% if @user.facebook_user? %>
    <fb:profile-pic uid="<%= @user.fb_user_id%>" facebook-logo="true" size="large" ></fb:profile-pic>
  <% end %>
<% end %>


<% if current_user %>
  <% if @user.id == current_user.id %>
    <p><%= link_to I18n.t("Edit Profile"), edit_user_path(:current) %></p>
  <% end %>
<% end %>

<li id="leaderboard-link"><%= link_to "Leaderboard", users_path %></li>
<h2>Based on votes, <%= link_to @user.username, @user %> is a <%= @user_type %> user</h2>

<h2>Stats</h2>
<span><%= pluralize(@like_total, "like") %> received - <%= @like_percentage %></span><br>
<span><%= pluralize(@dislike_total, "dislike") %> received - <%= @dislike_percentage %></span><br>
<p>and</p>
<span><%= pluralize(@helpful_total, "helpful vote") %> received - <%= @helpful_percentage %></span><br>
<span><%= pluralize(@funny_total, "funny vote") %> received - <%= @funny_percentage %></span><br>
<span><%= pluralize(@poetic_total, "poetic vote") %> received - <%= @poetic_percentage %></span><br>

<h2>Points breakdown</h2>
<span><%= pluralize(@like_points, "point") %> for <%= pluralize(@like_total, "like") %> received</span><br>
<span><%= pluralize(@dislike_points, "point") %> for <%= pluralize(@dislike_total, "dislike") %> received</span><br>
<span><%= pluralize(@mood_points, "point") %> for <%= pluralize(@mood_sum.to_i, "helpful/funny/poetic vote") %> received</span><br>
<span><%= pluralize(@votes_cast_points, "point") %> for <%= pluralize(@votes_cast, "vote") %> cast</span><br>
<span><%= pluralize(@comments_posted_points, "point") %> for <%= pluralize(@comments_posted, "comment") %> posted</span><br>
<span><%= pluralize(@comments_received_points, "point") %> for <%= pluralize(@comments_received, "comment") %> received</span><br>
<span><%= pluralize(@definition_points, "bonus point") %> for <%= pluralize(@definitions_counted_for_points, "popular definition") %></span><br>
<span><%= pluralize(@facebook_points, "bonus point") %> for <%= (@user.facebook_user?)? "registering with Facebook": "not registering with Facebook" %></span><br>

<h2>Recent definitions</h2>
<% if @definitions %>
<ol id="user-definitions">
  <% if @user.login == "wiktionary.org" %>
    <span class="definition"><%= "You are not allowed to see wiktionary.org's definitions." %></span>
  <% else %>
    <%= render :partial => 'users/definition', :collection => @definitions %>
  <% end %>
</ol>
<% else %>
<p>This user has not posted any definitions.</p>
<% end %>

<h2>Recent comments</h2>
<% if @comments %>
<ol id="user-comments">
  <%= render :partial => 'users/comment', :collection => @comments %>
</ol>
<% else %>
<p>This user has not commented.</p>
<% end %>
<h1>Member since <%= @user.created_at.strftime("%B %d, %Y") %></h1>

<% content_for :sidebar do %>

  <div class="section">
    <h3>How points work:</h3>
    <p>for each</p>
    <table>
    <tr><td width="400">&nbsp&nbsp like received:<td width="50">+30</td></tr></tr>
    <tr><td>&nbsp&nbsp dislike received:<td>-15</td></tr>
    <tr><td>&nbsp&nbsp HFP vote received:<td>+10</td></tr>
    <tr><td>&nbsp&nbsp vote cast:<td>+1</td></tr>
    <tr><td>&nbsp&nbsp comment posted:<td>+1</td></tr>
    <tr><td>&nbsp&nbsp comment received:<td>+1</td></tr>
    <tr><td>bonuses</td></tr>
    <tr><td>&nbsp&nbsp definition with 5 likes<td>+100</td></tr>
    <tr><td>&nbsp&nbsp register with Facebook<td>+200</td></tr>
    </table><br>
    <p>HFP = helpful/funny/poetic</p>
  </div>
<% end %>