<h1>Profile for <%= link_to @user.username, @user %></h1>

  <div id="search">
  	<h1><%= @users.size %> users and counting...</h1>
    <% form_tag(finds_path, :method => 'get') do %>
      <%= text_field_tag (:user, I18n.t("Search for a user..."), :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", 'id' => 'user_autocomplete') %>
      <% end %>
  </div>

  <% if current_user and @user.id == current_user.id %>
    <% if current_user.facebook_user? %>
      <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" size="large" ></fb:profile-pic>
      <p><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></p>
    <% end %>
  <% else %>
  <% if @user.facebook_user? %>
    <fb:profile-pic uid="<%= @user.fb_user_id%>" facebook-logo="true" size="large" ></fb:profile-pic>
  <% end %>
<% end %>


<% if current_user %>
  <% if @user.id == current_user.id %>
    <p><%= link_to I18n.t("Edit Profile"), edit_user_path(:current) %></p>
  <% end %>
<% end %>

<h2>Based on votes, <%= link_to @user.username, @user %> is a <%= @user_type %> user</h2>
<h2><%= link_to @user.username, @user %> has liked <%= @votes_cast %> definitions</h2>

<h2>Points</h2>
<p class="score"><%= link_to @user.username, @user %>'s definitions have receieved:</p>
<span><%= pluralize(@like_total, "like") %> - <%= @like_percentage %></span><br>
<span><%= pluralize(@dislike_total, "dislike") %> - <%= @dislike_percentage %></span><br>
<br><p>And</p>
<span><%= pluralize(@helpful_total, "helpful vote") %> - <%= @helpful_percentage %></span><br>
<span><%= pluralize(@funny_total, "funny vote") %> - <%= @funny_percentage %></span><br>
<span><%= pluralize(@poetic_total, "poetic vote") %> - <%= @poetic_percentage %></span><br>

<h2>Recent definitions</h2>
<% if @definitions %>
<ol id="user-definitions">
  <% if @user.login == "wiktionary.org" %>
    <span class="definition"><%= "You are not allowed to see wiktionary.org's definitions." %></span>
  <% else %>
    <%= render :partial => 'users/definition', :collection => @definitions %>
  <% end %>
</ol>
<% else %>
<p>This user has not posted any definitions.</p>
<% end %>

<h2>Recent comments</h2>
<% if @comments %>
<ol id="user-comments">
  <%= render :partial => 'users/comment', :collection => @comments %>
</ol>
<% else %>
<p>This user has not commented.</p>
<% end %>
<h1>Member since <%= @user.created_at.strftime("%B %d, %Y") %></h1>