<% title @user.username %>

<script type="text/javascript">
$(function() {  
$('#user_search').autocomplete({
        minLength: 2,
        source: '<%= users_path(:json) %>',
        focus: function(event, ui) {
            $('#user_search').val(ui.item.user.name);
            return false;
        },
        select: function(event, ui) {
            $('#user_search').val(ui.item.user.name);
			$(this).parents().find('form:last').submit();
            return false;
        }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
        return $( "<li></li>" )
            .data( "item.autocomplete", item )
            .append( "<a>" + item.user.name + " (" + item.user.login + ")" + "</a>" )
            .appendTo( ul );
    };
});
</script>

<!-- <div id="user-search">
  <p><%# @users.size %> users and counting...</p>
  <%# form_tag(finds_path, :method => 'get') do %>
    <%# text_field_tag(:user, I18n.t("Search for a user..."), :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", 'id' => 'user_search') %>
  <%# end %>
</div> -->

<div class="search-user">
	<p><%= @users.size %> users and counting...</p>
	<% form_tag(finds_path, :method => 'get') do %>
	    <%= text_field_tag (:user, I18n.t("Search for a user..."), :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", :id => 'user_search') %>
	<%= image_submit_tag("search.png", :onmouseover => "this.src='/images/search-hover.png'", :onmouseout => "this.src='/images/search.png'", :id => 'searchsubmit-user', :alt => "Search!") %>
	  <% end %>
</div>

<h2><%= link_to @user.username, @user %></h2>
<p class="points"><%= pluralize(@user.points, "point") %></p>
<p class="member-since">Member since <%= @user.created_at.strftime("%B %d, %Y") %></p>

  <% if current_user and @user.id == current_user.id %>
    <% if current_user.facebook_user? %>
      <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" size="large" ></fb:profile-pic>
      <p><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></p>
    <% end %>
  <% else %>
  <% if @user.facebook_user? %>
    <fb:profile-pic uid="<%= @user.fb_user_id%>" facebook-logo="true" size="large" ></fb:profile-pic>
  <% end %>
<% end %>


<% if current_user %>
  <% if @user.id == current_user.id %>
    <p><%= link_to I18n.t("Edit Profile"), edit_user_path(:current) %></p>
  <% end %>
<% end %>

<h3>Based on votes, <%= link_to @user.username, @user %> is a <%= itemize_type @user_type %> user</h3>

<h3>Stats</h3>
<span><%= pluralize(@like_received, "like") %> received - <%= @like_percentage %></span><br>
<span><%= pluralize(@dislike_received, "dislike") %> received - <%= @dislike_percentage %></span><br>
<p>and</p>
<span><%= pluralize(@helpful_received, "helpful vote") %> received - <%= @helpful_percentage %></span><br>
<span><%= pluralize(@funny_received, "funny vote") %> received - <%= @funny_percentage %></span><br>
<span><%= pluralize(@poetic_received, "poetic vote") %> received - <%= @poetic_percentage %></span><br>

<% if @user.login != "wiktionary.org" %>
	
<h3>Points breakdown</h3>
<span><%= pluralize(@like_points, "point") %> for <%= pluralize(@like_received, "like") %> received</span><br>
<span><%= pluralize(@dislike_points, "point") %> for <%= pluralize(@dislike_received, "dislike") %> received</span><br>
<span><%= pluralize(@mood_points, "point") %> for <%= pluralize(@mood_votes_received, "helpful/funny/poetic vote") %> received</span><br>
<span><%= pluralize(@votes_cast_points, "point") %> for <%= pluralize(@votes_cast, "vote") %> cast</span><br>
<span><%= pluralize(@comments_posted_points, "point") %> for <%= pluralize(@comments_posted, "comment") %> posted</span><br>
<span><%= pluralize(@comments_received_points, "point") %> for <%= pluralize(@comments_received, "comment") %> received</span><br>
<span><%= pluralize(@definition_points, "bonus point") %> for <%= pluralize(@popular_definitions, "popular definition") %></span><br>
<span><%= pluralize(@facebook_points, "bonus point") %> for <%= (@user.facebook_user?)? "registering with Facebook": "not registering with Facebook" %></span><br>

<h3>Voting breakdown</h3>
<span><%= pluralize(@like_cast, "like vote") %> cast</span><br>  
<span><%= pluralize(@dislike_cast, "dislike vote") %> cast</span><br> 
<span><%= pluralize(@helpful_cast, "helpful vote") %> cast</span><br> 
<span><%= pluralize(@funny_cast, "funny vote") %> cast</span><br> 
<span><%= pluralize(@poetic_cast, "poetic vote") %> cast</span><br> 
<span><%= pluralize(@inaccurate_cast, "inaccurate vote") %> cast</span><br> 
<span><%= pluralize(@mature_cast, "mature vote") %> cast</span><br> 
<span><%= pluralize(@offensive_cast, "offensive vote") %> cast</span><br>

<h3>Recent definitions</h3>
<% if @definitions %>
<div id="definitions">
    <%= render :partial => 'definitions/definition', :collection => @definitions, :locals => {:word => true} %>
</div>
<% else %>
<p>This user has not posted any definitions.</p>
<% end %>

<h3>Recent comments</h3>
<% if @comments %>
<ul id="user-comments">
  <%= render :partial => 'users/comment', :collection => @comments %>
</ul>
<% else %>
<p>This user has not posted any comments.</p>
<% end %>

<% end %>

<% if current_user and current_user.login == "murtazajafferji"%>
  <%= link_to 'Delete', @user, :confirm => "Are you sure?", :method => :delete %>
<% end %>
  
<% content_for :sidebar do %>

  <div class="section">
    <h3>How points work:</h3>
    <p>for each</p>
    <table>
    <tr><td width="400">&nbsp&nbsp like received:<td width="20">+<%=User::SCORE[:like]%></td></tr></tr>
    <tr><td>&nbsp&nbsp dislike received:<td><%=User::SCORE[:dislike]%></td></tr>
    <tr><td>&nbsp&nbsp HFP vote received:<td>+<%=User::SCORE[:mood_vote]%></td></tr>
    <tr><td>&nbsp&nbsp vote cast:<td>+<%=User::SCORE[:vote_cast]%></td></tr>
    <tr><td>&nbsp&nbsp comment posted:<td>+<%=User::SCORE[:comment]%></td></tr>
    <tr><td>&nbsp&nbsp comment received:<td>+<%=User::SCORE[:comment]%></td></tr>
    <tr><td>bonuses</td></tr>
    <tr><td>&nbsp&nbsp definition with <%=User::LIKE_BONUS_THRESHOLD%> likes<td>+<%=User::SCORE[:like_bonus]%></td></tr>
    <tr><td>&nbsp&nbsp register with Facebook<td>+<%=User::SCORE[:facebook_bonus]%></td></tr>
    </table><br>
    <p>HFP = helpful/funny/poetic</p>
  </div>
<% end %>