<div class="definition" id="definition-<%= definition.id unless definition.nil? %>">
  <% @counter ||= 1 %>
  <%# if current_user %>
    <%= render :partial => 'definitions/like_buttons', :locals => {:definition => definition} %>
  <%# end %>
  <div class="definition-content">
    <p>
      <% if defined? word and definition.word %>
        <span class="word"><%= link_to definition.word.name, definition.word %> - </span>
      <% else %>
        <span class="index"><%= @counter %>.</span>
      <% end %>
      <span class="part-of-speech"><%=h definition.part_of_speech %></span>
      <span class="body"><%=link_to definition.body, definition %></span>
	  <%= definition.embed_link.join("<br>") %>
    </p>
    
    <%= render :partial => 'definitions/meta', :locals => {:definition => definition} %>
    
  </div>
  <% @counter += 1 %>
</div>