<li class="definition" id="definition-<%= definition.id %>">
  <span class="part-of-speech"><%=h definition.part_of_speech %></span>
  <span class="body"><%=link_to definition.body, definition %></span>
  <% if current_user %>
    <%= render :partial => 'definitions/like_buttons', :locals => {:definition => definition} %>
  <% end %>
  <%= render :partial => 'definitions/stats', :locals => {:definition => definition} %>
  <% if current_user and current_user.id == definition.user_id %>
      <%= link_to 'Delete', definition, :confirm => "Are you sure?", :method => :delete %>
  <% end %>
  <%= render :partial => 'comments/comment_box', :locals => {:comments => definition.comments.recent.limit(10).all, :definition => definition} %>
</li>