<div class="meta">
  
  <p class="byline"><%= I18n.t("Submitted by") %> <% @user = User.find(definition.user_id) unless definition.user_id.nil?%>
  <%=link_to(@user.username, @user) + " " + "on" + " " + definition.created_at.strftime("%B %d, %Y") + "." %></p>
  
  <p class="stats">
    <span class="score"><%= definition.percent_liked %>% <%= I18n.t("Liked") %>.
    <% definition_type = definition.definition_type + definition.definition_type_negative %>
    <% if !definition_type.empty? %>
      <%=I18n.t("Voted as")%> <span><%= itemize_type definition_type %></span>.
    <% end %>  
    </span>
    <a href="#" class="stats-toggle"><%=I18n.t("More stats")%></a>
  </p>
  
  <% if current_user.nil? %>
    <%= link_to I18n.t("Log in to vote!"), login_path %>
  <% end %>
  
  <% if current_user and current_user.id == definition.user_id %>
    <%= link_to 'Delete', definition, :confirm => "Are you sure?", :method => :delete %>
  <% end %>
  
  <%= render :partial => 'definitions/stats', :locals => { :definition => definition } %>
  
  <p class="comments">
    <a href="#" class="comment-box-toggle"><%= pluralize(definition.comments.size, "comment") %></a>
  </p>
  
  <div class="comment-box">
    <%= render :partial => 'comments/comments', :locals => {:comments => definition.comments.recent.limit(10).all} %>
    <%= render :partial => 'comments/form', :locals => {:definition => definition} %>
  </div>
  
</div>