<a href="##" class="stats-toggle">Stats</a>
<ul class="stats">
  <li class="like-votes"><%= pluralize(definition.like, "like") %></li>
  <li class="dislike-votes"><%= pluralize(definition.dislike, "dislike") %></li>
  <li class="helpful-votes"><%= definition.helpful %> helpful</li>
  <li class="funny-votes"><%= definition.funny %> funny</li>
  <li class="poetic-votes"><%= definition.poetic %> poetic</li>
</ul>