<% title "Editing " + @definition.user.username + "'s definition for " + @definition.word.name.capitalize %>

<h1>Editing definition</h1>

<% form_for(@definition) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :part_of_speech %><br />
    <%= f.text_field :part_of_speech %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  
<% end %>