<div class="definition" id="definition-<%= @definition.id %>">
  <p>
    <span class="word"><%= link_to @definition.word.name, @definition.word %> - </span>
    <span class="part-of-speech"><%=h @definition.part_of_speech %></span>
    <span class="body"><%=link_to @definition.body, @definition %></span></p>
  <% if current_user %>
    <%= render :partial => 'definitions/like_buttons', :locals => {:definition => @definition} %>
  <% end %>
  <div class="meta">
    <%= render :partial => 'definitions/votes', :locals => { :definition => @definition } %>
    <% if current_user.nil? %>
      <%= link_to I18n.t("Log in to vote!"), login_path %>
    <% end %>
    <% if (current_user and current_user.id == @definition.user_id) or current_user.login == "murtazajafferji" %>
        <%= link_to 'Delete', @definition, :confirm => "Are you sure?", :method => :delete %>
    <% end %>
    <% if current_user %>
      <span class="tools">Do you find this
      <span class="<%= "voted" if @definition.get_vote current_user, :helpful %>"><%= link_to_remote I18n.t("Helpful"), :url => vote_definition_path(@definition, :mood => :helpful), :method => :post %></span>, 
      <span class="<%= "voted" if @definition.get_vote current_user, :funny %>"><%= link_to_remote I18n.t("Funny"), :url => vote_definition_path(@definition, :mood => :funny), :method => :post %></span>
      or <span class="<%= "voted" if @definition.get_vote current_user, :poetic %>"><%= link_to_remote I18n.t("Poetic"), :url => vote_definition_path(@definition, :mood => :poetic), :method => :post %></span>?</span>
      
      <span id="dislike-moods" class="tools">Do you find this
      <span class="<%= "voted" if @definition.get_vote current_user, :inaccurate %>"><%= link_to_remote I18n.t("Inaccurate"), :url => vote_definition_path(@definition, :mood => :inaccurate), :method => :post %></span>, 
      <span class="<%= "voted" if @definition.get_vote current_user, :mature %>"><%= link_to_remote I18n.t("Mature"), :url => vote_definition_path(@definition, :mood => :mature), :method => :post %></span>
      or <span class="<%= "voted" if @definition.get_vote current_user, :offensive %>"><%= link_to_remote I18n.t("Offensive"), :url => vote_definition_path(@definition, :mood => :offensive), :method => :post %></span>?</span>
    <% end %> 
  </div> 
  <div class="definition-page">
  <span class>This definition has earned <%= @user.username %> <%= @points %> points.</span><br>
   
  <span class="like-votes"><%= pluralize(@definition.like, "like") %> - <%= @like_percentage %></span><br>
  <span class="dislike-votes"><%= pluralize(@definition.dislike, "dislike") %> - <%= @dislike_percentage %></span><br>
  <span class>And</span><br>
  <span class="helpful-votes"><%= @definition.helpful %> helpful - <%= @helpful_percentage %></span><br>
  <span class="funny-votes"><%= @definition.funny %> funny - <%= @funny_percentage %></span><br>
  <span class="poetic-votes"><%= @definition.poetic %> poetic - <%= @poetic_percentage %></span><br>
  <span class>And</span><br>
  <span class="helpful-votes"><%= @definition.inaccurate %> inaccurate - <%= @inaccurate_percentage %></span><br>
  <span class="funny-votes"><%= @definition.mature %> mature - <%= @mature_percentage %></span><br>
  <span class="poetic-votes"><%= @definition.offensive %> offensive - <%= @offensive_percentage %></span><br>
  </div> 
    
  
    
  <div class="comments">
  	Comments:
    <%= render :partial => 'comments/comments', :locals => {:comments => @definition.comments} %>
    <%= render :partial => 'comments/form', :locals => {:definition => @definition} %>
  </div>
</div>