<% title @definition.user.username + "'s definition for " + @definition.word.name.capitalize %>
<%= javascript_include_tag 'external-search' %>
<div class="make-room-for-external-search">&nbsp;</div>

<%= render :partial => 'definitions/definition', :locals => {:definition => @definition, :word => true} %>
<div class="external-results">
<iframe id="searchResult1" width="90%" height="200" style="display: none" frameborder="0" ></iframe>
<iframe id="searchResult2" width="90%" height="200" style="display: none" frameborder="0"></iframe>
<iframe id="searchResult3" width="90%" height="200" style="display: none" frameborder="0" ></iframe>
<iframe id="searchResult4" width="90%" height="200" style="display: none" frameborder="0" ></iframe>
</div>

<div id="definition-details">
  <p><%=I18n.t("This definition has earned")%> <%= @user.username %> <%= @points %> <%=I18n.t("points")%>.</p>
 
  <p class="like-votes"><%= pluralize(@definition.like, "like") %> - <%= @like_percentage %></p>
  <p class="dislike-votes"><%= pluralize(@definition.dislike, "dislike") %> - <%= @dislike_percentage %></p>
  <p>And</p>
  <p class="helpful-votes"><%= @definition.helpful %> <%=I18n.t("helpful")%> - <%= @helpful_percentage %></p>
  <p class="funny-votes"><%= @definition.funny %> <%=I18n.t("funny")%> - <%= @funny_percentage %></p>
  <p class="poetic-votes"><%= @definition.poetic %> <%=I18n.t("poetic")%> - <%= @poetic_percentage %></p>
  <p>And</p>
  <p class="helpful-votes"><%= @definition.inaccurate %> <%=I18n.t("inaccurate")%> - <%= @inaccurate_percentage %></p>
  <p class="funny-votes"><%= @definition.mature %> <%=I18n.t("mature")%> - <%= @mature_percentage %></p>
  <p class="poetic-votes"><%= @definition.offensive %> <%=I18n.t("offensive")%> - <%= @offensive_percentage %></p>
</div>

<% content_for :sidebar do %>
<div class="external-results">
	<div class="external-results-sidebar">
	Show results from: <br>
	<table style="font-size: 10px">
		<tr><td width="130"><a href=<%= @google_dictionary_url %>>Google Dictionary</a></td><td id="second" width="110"><input type="button" id="searchButton1" value="Show" onclick="search(<%= @google_dictionary_url %>, 1)" display=""/><input type="button" id="toggleButton1" value="Hide" onclick="toggleIframe(1)" style="display: none"/><input type="button" id="sizeButton1" value="Expand" onclick="changeSize(1)" style="display: none"/>
		</td></tr>
		<tr><td><a href=<%= @urban_dictionary_url %>>Urban Dictionary</a></td><td><input type="button" id="searchButton2" value="Show" onclick="search(<%= @urban_dictionary_url %>, 2)" display=""/><input type="button" id="toggleButton2" value="Hide" onclick="toggleIframe(2)" style="display: none"/><input type="button" id="sizeButton2" value="Expand" onclick="changeSize(2)" style="display: none"/>
		</td></tr>
		<tr><td><a href=<%= @wikipedia_url %>>Wikipedia</a></td><td><input type="button" id="searchButton3" value="Show" onclick="search(<%= @wikipedia_url %>, 3)" display=""/><input type="button" id="toggleButton3" value="Hide" onclick="toggleIframe(3)" style="display: none"/><input type="button" id="sizeButton3" value="Expand" onclick="changeSize(3)" style="display: none"/>
		</td></tr>
		<tr><td><a href=<%= @thesaurus_url %>>Thesaurus.com</a></td><td><input type="button" id="searchButton4" value="Show" onclick="search(<%= @thesaurus_url %>, 4)" display=""/><input type="button" id="toggleButton4" value="Hide" onclick="toggleIframe(4)" style="display: none"/><input type="button" id="sizeButton4" value="Expand" onclick="changeSize(4)" style="display: none"/>
		</td></tr>
		</table>
	</div>
</div>
	<% end %>