<%= render :partial => 'definitions/definition', :locals => {:definition => @definition} %>

<!-- <div id="definition-details">
<span class>This definition has earned <%= @user.username %> <%= @points %> points.</span><br>
 
<span class="like-votes"><%= pluralize(@definition.like, "like") %> - <%= @like_percentage %></span><br>
<span class="dislike-votes"><%= pluralize(@definition.dislike, "dislike") %> - <%= @dislike_percentage %></span><br>
<span class>And</span><br>
<span class="helpful-votes"><%= @definition.helpful %> helpful - <%= @helpful_percentage %></span><br>
<span class="funny-votes"><%= @definition.funny %> funny - <%= @funny_percentage %></span><br>
<span class="poetic-votes"><%= @definition.poetic %> poetic - <%= @poetic_percentage %></span><br>
<span class>And</span><br>
<span class="helpful-votes"><%= @definition.inaccurate %> inaccurate - <%= @inaccurate_percentage %></span><br>
<span class="funny-votes"><%= @definition.mature %> mature - <%= @mature_percentage %></span><br>
<span class="poetic-votes"><%= @definition.offensive %> offensive - <%= @offensive_percentage %></span><br>
</div> -->