<% title @definition.user.username + "'s definition for " + @definition.word.name %>

<%= render :partial => 'definitions/definition', :locals => {:definition => @definition, :word => true} %>

<div id="definition-details">
  <p><%=I18n.t("This definition has earned")%> <%= @user.username %> <%= @points %> <%=I18n.t("points")%>.</p>
 
  <p class="like-votes"><%= pluralize(@definition.like, "like") %> - <%= @like_percentage %></p>
  <p class="dislike-votes"><%= pluralize(@definition.dislike, "dislike") %> - <%= @dislike_percentage %></p>
  <p>And</p>
  <p class="helpful-votes"><%= @definition.helpful %> <%=I18n.t("helpful")%> - <%= @helpful_percentage %></p>
  <p class="funny-votes"><%= @definition.funny %> <%=I18n.t("funny")%> - <%= @funny_percentage %></p>
  <p class="poetic-votes"><%= @definition.poetic %> <%=I18n.t("poetic")%> - <%= @poetic_percentage %></p>
  <p>And</p>
  <p class="helpful-votes"><%= @definition.inaccurate %> <%=I18n.t("inaccurate")%> - <%= @inaccurate_percentage %></p>
  <p class="funny-votes"><%= @definition.mature %> <%=I18n.t("mature")%> - <%= @mature_percentage %></p>
  <p class="poetic-votes"><%= @definition.offensive %> <%=I18n.t("offensive")%> - <%= @offensive_percentage %></p>
</div>
