<% title "Secret Games" %>

<div id="konami_code_game">
<html>
<head>
<%= javascript_include_tag 'mootools-1.2-core.js' %>
<%= javascript_include_tag 'mootools-1.2-more.js' %>
<%= javascript_include_tag 'MooFlow' %>
<%= stylesheet_link_tag 'MooFlow' %>

  <script type='text/javascript'>
    window.addEvent('domready', function(){
    var mf = new MooFlow($('MooFlow'), {
      startIndex: 0,
      useSlider: true,
      useAutoPlay: true,
      useCaption: true,
      useResize: true,
      useWindowResize: true,
      useMouseWheel: true,
      useKeyInput: true,
	  bgColor: 'transparent'
    });
    });
    </script>
</head>
<body>
<h4>Secret Games</h4>
<div id="content">

  <div id="MooFlow">
    <div><img src="images/games/bowman.jpg" title="<a href='<%= bowman_path %>'>Bowman</a>" alt="Turned based archery/murder game. Simple, fun, and deadly!" /></div>
	<div><img src="images/games/asteroids.jpg" title="<a href='<%= asteroids_path %>'>Asteroids</a>" alt="Shoot the asteroids while avoiding collisions with them in this fast paced shooting game, an arcade classic." /></div>
	<div><img src="images/games/n.jpg" title="<a href='<%= n_path %>'>N</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/helicopter.jpg" title="<a href='<%= helicopter_path %>'>Helicopter</a>" alt="Helicopter go up. Helicopter go down. Helicopter go boom. Watch out for blocks." /></div>
	<div><img src="images/games/portal.jpg" title="<a href='<%= portal_path %>'>Portal</a>" alt="Defy the laws of time and space with your portal gun. You'll need to rethink physics to beat this challenge. Do you has?" /></div>
	<div><img src="images/games/pacman.jpg" title="<a href='<%= pacman_path %>'>Pacman</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/linerider.jpg" title="<a href='<%= linerider_path %>'>Line Rider</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/smbc.jpg" title="<a href='<%= smbc_path %>'>Super Mario Bros. Crossover</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/bloodypingu.jpg" title="<a href='<%= bloodypingu_path %>'>Bloody Pingu</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/frogger.jpg" title="<a href='<%= frogger_path %>'>Frogger</a>" alt="Guide the frog safely to it's home by crossing the busy street and river before time runs out. Escort lady frogs home and collect flies for bonus points. Use the arrow keys to move." /></div>
	<div><img src="images/games/winterbells.jpg" title="<a href='<%= winterbells_path %>'>Winterbells</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/connect4.jpg" title="<a href='<%= connect4_path %>'>Connect 4</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/solitaire.jpg" title="<a href='<%= solitaire_path %>'>Solitaire</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/governorofpoker.jpg" title="<a href='<%= governorofpoker_path %>'>Governor of Poker</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/supersmashflash.jpg" title="<a href='<%= supersmashflash_path %>'>Super Smash Flash</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/hangman.jpg" title="<a href='<%= hangman_path %>'>Hangman</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/tetris.jpg" title="<a href='<%= tetris_path %>'>Tetris</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>
	<div><img src="images/games/scramble.jpg" title="<a href='<%= scramble_path %>'>Scramble</a>" alt="Golden cubes await capture as you guide your ninja-like icon through treacherous territory. Watch out for mines, lasers, and heat-seeking missiles." /></div>					
    </div>					
    </div>

</body>
</html>
</div>