<h1>Word of the day</h1>

<%= link_to @random.name, @random %>
<%= render :partial => 'words/definition', :locals => {:definition => @random_def} unless !@random_def %>
<h2>Add a word</h2>
<% form_for @word, :url => { :action => "create" } do |f| -%>
  <%= f.error_messages %>
  <p><%= f.text_field :name %></p>
  <p><%= f.submit 'Create'  %></p>
<% end -%>
