<h1 class="title"><%= I18n.t("Viewing definitions for") %> <%=h @word.name %>, sorted by <%= select_tag "sort", "<option>popularity</option>" %></h1>

<h2 class="word"><%=h @word.name %></h2>

<% if not @definitions.empty? %>
  <%= render :partial => "definitions/definitions", :object => @definitions %>
<% else %>
  <p><%= I18n.t("This word has no definitions! Why don't you add one below?") %></p>
<% end %>

<%= render :partial => 'words/definition_form', :locals => {:word => @word} %>

<p><%= link_to I18n.t("Back to index"), root_path %></p>