<h1 class="title"><%= I18n.t("Viewing definitions for") %> <%=h @word.name %></h1>

<%= render :partial => 'words/sorter', :locals => {:word => @word} %>

<h2 class="word"><%=h @word.name %></h2>

<% if not @definitions.empty? %>
  <%= render :partial => "definitions/definitions", :object => @definitions %>
<% else %>
  <p><%= I18n.t("This word has no definitions! Why don't you add one below?") %></p>
<% end %>

<%= render :partial => 'words/definition_form', :locals => {:word => @word} %>