<h1 class="title">Definitions for</h1>

<h2 class="word"><%=h @word.name %></h2>

<% if not @definitions.empty? %>
  <%= render :partial => "definitions/definitions", :object => @definitions %>
<% else %>
  <p>This word has no definitions! Why don't you add one below?</p>
<% end %>

<% form_for @word, :html => { :method => :get }, :url => add_definition_word_path(@word) do |f| -%>
  <%= text_area_tag "body", nil, :size => "40x3" %>
  <%= f.submit "Define!" %>
<% end -%>

<p><%= link_to 'Back to index', root_path %></p>