<% title @word.name %>
<h2 class="word"><%=h @word.name %></h2>

<%= render :partial => 'definitions/sorter', :locals => {:word => @word} %>

<% if not @definitions.empty? %>
  <%= render :partial => "definitions/definitions", :object => @definitions %>
<% else %>
  <p><%= I18n.t("This word has no definitions! Why don't you add one below?") %></p>
<% end %>

<%= render :partial => 'words/definition_form', :locals => {:word => @word} %>