<h1 class="title"><%= I18n.t("Definitions for") %></h1>

<h2 class="word"><%=h @word.name %></h2>

<% if not @definitions.empty? %>
  <%= render :partial => "definitions/definitions", :object => @definitions %>
<% else %>
  <p><%= I18n.t("This word has no definitions! Why don't you add one below?") %></p>
<% end %>

<% form_for @word, :html => { :method => :get }, :url => add_definition_word_path(@word) do |f| -%>
  <%= text_area_tag("body", "Add your own definition...", :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", :size => "40x3") %>
  <%= f.submit I18n.t("Define!") %>
<% end -%>

<p><%= link_to I18n.t("Back to index"), root_path %></p>