<h1><%= @word.name %></h1>

<% cache(:action => 'show', :action_suffix => 'all_defs') do %>
  <% if not @definitions.empty? %>
  <ul class="definition-list">
    <%= render :partial => "words/definition", :collection => @definitions %>
  </ul>
  <% else %>
  <p>This word has no definitions! Why don't you add one below?</p>
  <% end %>
<% end %>

<% form_for @word, :html => { :method => :get }, :url => add_definition_word_path(@word) do |f| -%>
  <%= text_area_tag "body", nil, :size => "40x3" %>
  <%= f.submit "Define!" %>
<% end -%>

<p><%= link_to 'Show all words', words_path %></p>