<p>
  <b>Tg:</b>
  <%=h @trigram.tg %>
</p>

<p>
  <b>Word:</b>
  <%=h @trigram.word_id %>
</p>

<p>
  <b>Score:</b>
  <%=h @trigram.score %>
</p>


<%= link_to 'Edit', edit_trigram_path(@trigram) %> |
<%= link_to 'Back', trigrams_path %>